<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/book.css">
    <link rel="stylesheet" href="/nav.css">
    <title>Index</title>
</head>

<body>
    <header>
        <div class="logo">Belgoteek</div>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <nav class="nav-bar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/explore" class="active">Explorer</a></li>
                <li><a href="/contact">Contact</a></li>
                <li>
                    <h4 id="name-holder">
                        <% if (typeof user !=='undefined' ) { %>
                            <a>
                                <%= user.username %>
                            </a>
                            <ul>
                                <li><button onclick='location.href="/logout"'>Déconnexion</button></li>
                            </ul>
                            <% } else { %>
                                <a href="/auth">Login</a>
                                <% } %>
                    </h4>
                </li>
            </ul>
            <script>
                hamburger = document.querySelector(".hamburger");
                hamburger.onclick = function () {
                    navBar = document.querySelector(".nav-bar")
                    navBar.classList.toggle("active");
                }
            </script>
        </nav>
    </header>

    <div class="page">
        <div class="container-list">
        <h1>Livres loués par <%= user.username %></h1>
        <% if (userBooks.length > 0) { %>
            <ul>
                <% userBooks.forEach(book => { %>
                    <div class="container">
                    <li>
                        <h2><%= book.title %></h2>
                        <p><%= book.author %></p>
                        <br>
                        <h3><%= book.summary %></h3>
                        <br>
                        <p>ISBN : <%= book.isbn %></p>
                        <br>
                        <p><%= book.category %></p>
                        <br>
                        <form action="/return" method="POST">
                            <input type="hidden" name="bookId" value="<%= book.id %>">
                            <button class = "return__button"type="submit">Retourner le livre</button>
                          </form>
                    </li>
                </div>
                <% }); %>
            </ul>
        <% } else { %>
            <h2>Aucun livre n'a été loué pour le moment.</h2>
        <% } %>
    </div>
</div>
    

</body>

</html>
